.navChat {
	position: absolute;
	color: white;
	right: 0;
	cursor: pointer;
}
.chatWindow {
	position: absolute;
	background: #AAA;
	right: 0;
	bottom: 0;
	margin-bottom: 48px;
	height: 500px;
	width: 350px;
	max-height: calc(100vh - 96px);
	max-width: 100vw;
}
.chatHead {
	background: #444;
	display: flex;
	overflow: auto;
}
.chatItem {
	align-self: center;
	padding: 6px;
	max-height: 20px;
}
.chatHeadImg {
	height: 20px;
}