.mapBody {
	overflow: overlay;
	position: relative;
	max-height: inherit;
}
.mapWrap {
	margin: auto;
	height: 700px;
	width: 700px;
	max-height: calc(100vh - 96px);
	max-width: 100vw;
	background: grey;
}
.imgWrap {
	width: inherit;
	height: inherit;
	max-width: inherit;
	max-height: inherit;
	overflow: hidden;
}
.image {
	position: relative;
	width: inherit;
	filter: brightness(25);
	touch-action: none;
}
.info {
	text-align: center;
}
.center {
	width: fit-content;
	background: black;
	color: white;
	margin: auto;
	margin-bottom: 10px;
	padding: 5px;
	border-radius: 5px;
	cursor: pointer;
}
.mapBody .controlsWrap {
	width: 100vw;
	height: 100px;
}
.mapBody .controls {
	position: relative;
	width: fit-content;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.menuWrap {
	max-width: 100vw;
	width: 300px;
	height: 300px;
	position: absolute;
	display: none;
	top: 0;
	left: 0;
	background: brown;
	cursor: default;
	overflow: auto;
}
.menuWrap .gridContainer {
	display: grid;
	column-gap: 2px;
	row-gap: 2px;
	grid-auto-flow: row;
	background: #3f3f42;
	overflow: auto;
	padding: 20px;
	width: fit-content;
}
.menuWrap .gridContainer .gridItem {
	cursor: pointer;
	opacity: 0.7;
}
.menuWrap .gridContainer .gridItem:hover {
	transform: scale(1.2);
	opacity: 1.0;
	transition: 0.5s;
}
.menuWrap .gridContainer .empty {
	background: #9b9b9e;
}